// .intro-container {
//   display: none;
//   color: #fff;
//   height: 103%;
//   width: 100%;
//   background: black;
//   background-image: url(../img/charles-bukowski.jpg);
//   background-repeat: no-repeat;
//   background-size: cover;
// }
// .intro-poesia-container {
//   display: none;
//   position: absolute;
//   left: 5%;
//   top: 20%;
// }
// .intro-poesia-container p {
//   line-height: 100%;
// }
// .intro-page-logo {
//   display: none;
//   position: absolute;
//   bottom: 12%;
//   right: 0;
//   text-align: center;
// }
// .intro-page-logo a {
//   color: #fff;
//   font-weight: 300;
// }
// .intro-page-logo img {
//   height: 130px;
//   width: auto;
//   margin-bottom: 15px;
// }
// .intro-arrow-container {
//   display: none;
//   text-align: center;
//   position: absolute;
//   bottom: 8%;
//   cursor: pointer;
//    -webkit-animation:bounce 1300ms infinite;
// }
// .intro-arrow {
//   font-size: 4em;
// }
// @-webkit-keyframes bounce {
//   0%       { bottom:5px; }
//   25%, 75% { bottom:15px; }
//   50%      { bottom:20px; }
//   100%     {bottom:0;}
// }
// @media(max-width:768px) {
//   .intro-poesia-container {
//   top: 2%;
//   }
//   .intro-page-logo {
//   bottom: 25%;
//   }
// }
